html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.paginationjs-pages {
  margin-top: 20px;
}

.paginationjs-pages > ul, .paginationjs-pages > ul > li{
  display: inline;
}

.paginationjs-pages > ul > li {
  padding: 5px;
}
